:root {
    --Naranja: #b34b0C;
    --Terracota: #7c3306;
    --GrisOscuro: #37322e;
    --GrisMedio: #524944;
    --GrisClaro: #6c6a66;
    --gris: #b3b2b0;

    --colorAmarillo: hsl(47, 80%, 63%);
    --colorWhite: hsl(0, 0%, 100%);
    --colorGrey: hsl(0, 0%, 96%);
    --colorRojo: hsl(0, 75%, 55%);
    --colorVerde: hsl(145, 60%, 45%);
    --colorAzul: hsl(210, 80%, 55%);
    --colorGray500: hsl(0, 0%, 89%);
    --colorGray950: hsl(0, 0%, 7%);
    --sombra: 4px 6px 1px 2px;
    ;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", san-serif;
}

body {
    background-color: var(--colorAmarillo);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

aside {
    background-color: var(--colorWhite);
    transform: translate(-100%);
    transition: transform 0.3s ease;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    border-radius: 0 10px 10px 0;
    overflow-y: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    box-shadow: var(--sombra);
}

aside.active {
    transform: translateX(0);
}

.perfil {
    text-align: center;
    margin-bottom: 30px;
}

.perfil img {
    border-radius: 20px;
    object-fit: cover;
    border: 3px solid black;
}

aside ul {
    list-style: none;
    padding: 0;
}

aside ul li {
    margin: 2vw 0;
}

aside ul li a {
    color: black;
    background-color: var(--colorGray500);
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, box-shadow 0.3s, color 0.5s ease;
    box-shadow: 4px 6px 0.5px 2px;
}

aside ul li a:hover {
    background-color: var(--colorAmarillo);
    color: white;
    box-shadow: none
}

.menu-toggle {
    position: fixed;
    top: 20px;
    left: 20px;
    background: white;
    color: black;
    border: none;
    border-radius: 25px;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 101;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--sombra);
    transition: background-color 0.3s, transform 0.3s;
}

#principal a {
    text-decoration: none;
    color: inherit;
}

cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    border: 1px solid var(--gris);
    border-radius: 10px;
    box-shadow: var(--sombra);
    transition: transform 0.3s, box-shadow 0.3s;
}

cards i {
    -webkit-text-stroke: 2px black;
    font-size: 3.5rem;
    margin-bottom: 15px;
    color: var(--colorAmarillo);
}

cards:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}


/* Estilos para las secciones */
section:not(.principal) {
    width: 80vw;
    height: 80vh;
    display: none;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: var(--sombra);
    border: 2px solid black;
    margin-top: 20px;
}

section.active {
    display: flex;
    gap: 1vw;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Estilos para formulario */
.formularios-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}


form {
    display: grid;
    background-color: var(--colorGrey);
    gap: 1vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 2vw;
    margin: 2vw;

    overflow: auto;
    scrollbar-width: none;
}

form > div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form h2 {
    text-align: center;
}

form h3 {
    text-align: center;
}

input,
select,
button {
    border-radius: 5px;
}

button {
    border: none;
    font-weight: 700;
    color: white;
    background-color: var(--Terracota);
    transition: transform 0.4s;
}

button[type='Submit'],
.btnAceptar {
    background-color: var(--colorVerde);
    box-shadow: var(--sombra);
    border: 2px solid black;
    width: 100%;
}

button[type='reset'] {
    background-color: var(--colorRojo);
    width: 100%;
    box-shadow: var(--sombra);
    border: 2px solid black;
}

.editar {
    background-color: var(--colorAzul);
    box-shadow: var(--sombra);
    border: 2px solid black;
}

.eliminar,
.btnCancelar,
.finalizar {
    width: 100%;
    background-color: var(--colorRojo);
    box-shadow: var(--sombra);
    border: 2px solid black;
}

.btnMant {
    grid-column-start: 1;
    grid-column-end: 3;
}

input:hover,
input:enabled {
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* estilo para alerta */
.modal {
    width: max-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    overflow: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    animation: aparecer 0.2s forwards;
}

@media (min-width: 1024px) {
    body {
        height: 100vh;
    }

    aside {
        padding: 3vw 2vw;
        width: 350px;
        height: 100vh;
        font-size: 20px;
        font-weight: 500;
    }

    .perfil img {
        margin: 1vw 0;
        padding: 4px;
        width: 10em;
        height: 100%;
    }

    .menu-toggle {
        width: 60px;
        height: 60px;
    }

    #principal {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        margin: 5vw;
    }

    cards {
        padding: 2vw 1vw;
    }

    form {
        grid-template-columns: repeat(2, 1fr);
    }

    form h2 {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    form h3 {
        grid-column-start: 1;
        grid-column-end: 3;
    }


}

@media (max-width: 1023px) {
    body {
        height: 100vh;
    }

    aside {
        padding: 3vw 2vw;
        width: 350px;
        height: 100vh;
        font-size: 20px;
        font-weight: 500;
    }

    .perfil img {
        margin: 1vw 0;
        padding: 4px;
        width: 10em;
        height: 100%;
    }

    .menu-toggle {
        width: 60px;
        height: 60px;
    }

    #principal {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        margin: 5vw;
    }

    cards {
        text-align: center;
        padding: 2vw 0;
    }


}

@media (max-width: 460px) {
    body {
        height: 100%;
        font-size: 9px;
        overflow-y: auto;
        scrollbar-width: none;
        scroll-behavior: smooth;
    }

    aside {
        font-size: 11px;
        padding: 3vw 5vw;
        width: 200px;
        height: 100vh;
        font-weight: 500;
    }

    aside ul li {
        margin-bottom: 2vh;
    }

    .perfil img {
        margin: 1vw 0;
        padding: 4px;
        width: 10em;
        height: 100%;
    }

    .menu-toggle {
        border-radius: 10px;
        width: 30px;
        height: 30px;
    }

    .menu-toggle i {
        font-size: 15px;
    }

    #principal {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        margin: 15vw;
    }

    cards {
        padding: 1vw 1vw;
        width: 200px;
        height: 100px;
        font-size: 9px;
    }

    cards i {
        text-align: center;
        font-size: 3rem;
    }
}