@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --Naranja: #b34b0C;
    --Terracota: #7c3306;
    --GrisOscuro: #37322e;
    --GrisMedio: #524944;
    --GrisClaro: #6c6a66;
    --gris: #b3b2b0;
    
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

aside {
    background-color: var(--Terracota);
    color: white;
    padding: 3vw 1vw;
    width: 350px;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 100;
    font-size: 20px;
    border-radius: 0 10px 10px 0;
    overflow-y: auto;
    scrollbar-width: none;
}

aside.active {
    transform: translateX(0);
}

.perfil {
    text-align: center;
    margin-bottom: 30px;
}

.perfil img {
    border-radius: 20px;
    object-fit: cover;
    border: 3px solid white;
    margin: 2vw 0;
}

aside ul {
    list-style: none;
    padding: 0;
}

aside ul li {
    margin: 15px 0;
}

aside ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

aside ul li a:hover {
    background-color: var(--Naranja);
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilos para las cards */
#principal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 5vw;
}

#principal a {
    text-decoration: none;
    color: inherit;
}

cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    border: 1px solid var(--gris);
    border-radius: 10px;
    padding: 30px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    height: 150px;
}

cards:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

cards i {
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: var(--Terracota);
}

/* Estilos para las secciones */
section:not(.principal) {
    display: none;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.9);
    margin-top: 20px;
}

section.active {
    display: flex;
    gap: 1vw;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Botón para mostrar/ocultar aside */
.menu-toggle {
    width: 800px;
    position: fixed;
    top: 20px;
    left: 20px;
    background: #2c3e50;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 101;
    display: flex;
    align-items: center;
    justify-content: center;
}


form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 1vw;
}

form h2 {
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 40px;
    text-align: center;
    margin: 1vw 0;
}

form h3 {
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 25px;
    text-align: center;
    margin: 1vw 0;
}

input,
select,
button {
    border-radius: 5px;
    padding: 5px 20px;
}

button {
    border: none;
    font-weight: 700;
    color: white;
    background-color: var(--Terracota);
}

.btnMant{
    grid-column-start: 1;
    grid-column-end: 3;
}

input:hover,
input:enabled {
    animation: bordeNaranja 1s alternate-reverse infinite;
    cursor: pointer;
}

button:hover {
    transform: scale(1.01);
    cursor: pointer;
    background-color: var(--Naranja);
}



/* Estilo general de tablas */
table {
    overflow-y: auto;
    height: 100px;
    min-width: 300px;
    border-collapse: collapse;
    font-family: 'Segoe UI', sans-serif;
    table-layout: fixed; /* columnas con ancho fijo */
}

/* Encabezado */
thead {
    background-color: var(--Terracota);
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
}

/* Celdas */
th, td {
    padding: 0.5rem 1rem;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 48px; /* alto fijo */
    max-height: 48px;
}

/* Hover para filas */
tbody tr:hover {
    background-color: #f1f9ff;
}

/* Última fila sin borde inferior */
tbody tr:last-child td {
    border-bottom: none;
}


@keyframes bordeNaranja {
    0% {
        border: 1px solid var(--gris);
    }

    50% {
        border: 2px solid var(--Naranja);
    }

    100% {
        border: 1px solid var(--Terracota);
    }
}


