@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Figtree';
    src: url(assets/fonts/Figtree-VariableFont_wght.ttf) format('truetype');
    font-weight: bolder;
    font-style: normal;
}

:root {
    --Naranja: #b34b0C;
    --Terracota: #7c3306;
    --GrisOscuro: #37322e;
    --GrisMedio: #524944;
    --GrisClaro: #6c6a66;
    --gris: #b3b2b0;

    --colorAmarillo: hsl(47, 80%, 63%);
    --colorWhite: hsl(0, 0%, 100%);
    --colorGrey: hsl(0, 0%, 96%);
    --colorRojo: hsl(0, 75%, 55%);
    --colorVerde: hsl(145, 60%, 45%);
    --colorAzul: hsl(210, 80%, 55%);
    --colorGray500: hsl(0, 0%, 89%);
    --colorGray950: hsl(0, 0%, 7%);
    --sombra: 4px 6px 1px 2px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
}

body {
    background-color: var(--colorAmarillo);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}


.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 2vw;
    border: 2px black solid;
    background-color: white;
    box-shadow: 7px 7px 2px;

}

.descripcion {
    display: flex;
    justify-content: center;
    align-items: center;
}

i {
    padding: 10px;
    border-radius: 50px 50px 0 0;
    font-size: 2rem;
}

h2 {
    margin: 1vw 0;
    color: black;
    text-align: center;
    overflow: hidden;
    border-right: 5px solid;
    white-space: nowrap;
    animation: escribir steps(14) 1.6s forwards;
}

.login-container form {
    border-radius: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1vw;
    padding-top: 1vw;
}

input,
button {
    border-radius: 5px;
    padding: 0.5vw 1vw;
    margin-top: 0;
}

.btnLogin {
    font-size: 20px;
    font-weight: 900;
    color: black;
    border-top: none;
    border-left: none;
    transition: background-color 0.5s, transform 0.5s;
    background-color: var(--colorAmarillo);
}

input:hover,
input:enabled {
    cursor: pointer;
}

button:hover {
    transform: scale(1.01);
    cursor: pointer;
    color: var(--colorAmarillo);
    background-color: black;
}

.password {
    margin: 1vw 0;
    border: 2px solid;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.password i {
    position: absolute;
    cursor: pointer;
    right: 0.1vw;
    color: black;
    font-size: 18px;
    z-index: 999;
}

.password i:hover {
    color: #007bff;
}
.password input{
    border: none;
}


@keyframes escribir {

    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }

}

.btnAceptar {
    background-color: var(--colorVerde);

    box-shadow: var(--sombra);
    border: 2px solid black;
    transition: transform 0.3s, background-color 0.3s ease-in-out;
}

.btnAceptar:hover {
    transform: scale(1.05);
    cursor: pointer;
    color: var(--colorVerde);
    background-color: black;
}

.eliminar, .btnCancelar {
    background-color: var(--colorRojo);

    box-shadow: var(--sombra);
    border: 2px solid black;
}

.alertas {
    border: 2px solid black;
    background-color: var(--colorWhite);
    border-radius: 10px;
    box-shadow: var(--sombra);
    padding: 1.5rem;
    text-align: center;
    width: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: aparecer 0.1s ease-out;

    .cerrar-alerta::picker{
        animation: aparecer 2s ease-out;
    }
}

.alertas::backdrop {
    background: rgba(0, 0, 0, 0.4);
}

.contenido-alerta {
    position: relative;
}

.cerrar-alerta {
    display: none;
}

.acciones-alerta {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* Cuando se está cerrando */
.alertas.cerrando {
    animation: desaparecer 0.2s ease-in forwards;
}


@keyframes aparecer {
    from {
        opacity: 0;
        transform: translate(-50%, -48%) scale(0.9);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes desaparecer {
    from {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    to {
        opacity: 0;
        transform: translate(-50%, -48%) scale(0.9);
    }
}